<footer>
    <div class="container">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="logo"></div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <ul>
                <li><a href="/" target="_self">Inicio</a></li>
                <li><a href="/nosotros" target="_self">Nosotros</a></li>
                <li><a href="/servicios" target="_self">Servicios</a></li>
                <li><a href="/contacto" target="_self">Contacto</a></li>
            </ul>

        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <p><b class="font">Teléfonos:</b><br> Móvil: +507 6214 7801<br> Ofc: +507 397-3526<br>
                <a href="mailto:contacto@gmail.com" target="_blank">contacto@gmail.com</a>
            </p>

        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <p style="color:var(--amarillo);">Síguenos en:</p>

            <div class="social">
                <a href="https://facebook.com/" target="_blank"> <i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"> <i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram"></i></a>
            </div>

        </div>
        <div class="clear"></div>

    </div>
    <div class="copyright">
        <div class="container">
            <p>Aextum 2015 All Rights Reserved - Web Site Designer: <a href="https://www.malcolmcordova.com/" target="_blank">Malcolm Cordova Studio Design </a></p>
        </div>
    </div>
</footer>