<div class="clear"></div>
<div class="container" style="padding-top: 140px;">
    <div class="col-xs-12 ">
        <h1>Política de cookies</h1>
    </div>
    <div class="clear"></div>
    <div class="col-xs-12 ">
        <p>Una cookie es un archivo de información que el servidor de este sitio web envía al ordenador/smartphone/tablet de quien accede a la página para almacenar y recuperar información sobre la navegación que se efectúa desde dicho equipo. <br><br> Utilizamos
            diversos tipos de cookies (técnica, analíticas y sociales) únicamente con la finalidad de mejorar la navegación del usuario en el sitio web, sin ningún tipo de objeto publicitario o similar. Este portal, a través de las cookies no recoge dato
            personal alguno. Todas las cookies, salvo una utilizada por el sistema de estadísticas Google Analytics son temporales y desaparecen al concluir la sesión.
        </p>
    </div>
    <div class="col-xs-12 ">
        <p>Este sitio web utiliza las cookies que se detallan en el cuadro siguiente:</p> <br>
        <ul>
            <li>Cookies técnicas necesarias o convenientes para la prestación de determinados servicios. <br> Si se desactivan estas cookies, no podrá recibir correctamente los contenidos del sitio web</li>
            <li>Cookies analíticas, para el seguimiento y análisis estadístico del comportamiento del conjunto de los usuarios. <br> Si se desactivan estas cookies, el sitio web podrá seguir funcionando, sin perjuicio de que la información captada por estas
                cookies sobre el uso de nuestra web y sobre su contenido permite mejorar nuestros servicios.</li>
            <li>Cookies de redes sociales externas, que se utilizan para que los visitantes puedan interactuar con el contenido de diferentes plataformas sociales (Facebook, YouTube, Twitter, LinkedIn, etc.) y que se generan únicamente para los usuarios de
                dichas redes sociales.<br> Las condiciones de utilización de estas cookies y la información recopilada se regula por la política de privacidad de la plataforma social correspondiente.
            </li>
        </ul>
    </div>
    <div class="col-xs-12 ">
        <p>El usuario podrá -en cualquier momento- elegir qué cookies quiere que funcionen en este sitio web mediante:</p>
        <p>la configuración del navegador; por ejemplo:</p>
        <ul>
            <li>Chrome, desde <a href="https://support.google.com/chrome/bin/answer.py?hl=es&answer=95647" target="_blank" rel="noopener noreferrer">https://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</a> </li>
            <li>Explorer, desde <a href="https://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank" rel="noopener noreferrer">https://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a></li>
            <li>Firefox, desde <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank" rel="noopener noreferrer">https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a>                </li>
            <li>Safari, desde <a href="https://support.apple.com/kb/ph5042" target="_blank" rel="noopener noreferrer">https://support.apple.com/kb/ph5042</a></li>
        </ul>
        <p>Existen herramientas de terceros, disponibles on line, que permiten a los usuarios detectar las cookies en cada sitio web que visita y gestionar su desactivación.</p>
        <p>Información suministrada por <a href="https://www.red.es/redes/" target="_blank" rel="noopener noreferrer">RED.es</a> </p>
    </div>
    <div class="col-xs-12 ">

        <p>Existen herramientas de terceros, disponibles on line, que permiten a los usuarios detectar las cookies en cada sitio web que visita y gestionar su desactivación.</p>
        <p>Información suministrada por <a href="https://www.red.es/redes/" target="_blank" rel="noopener noreferrer">RED.es</a> </p>
    </div>

    <div class="col-xs-12 table-responsive">
        <table class="tabla  table table-striped ">
            <thead>
                <tr>
                    <th align="middle">Cookie</th>
                        <th align="middle">Tipo</th>
                            <th align="middle">Temporalidad</th>
                                <th align="middle">Titularidad</th>
                                    <th align="middle">Finalidad</th>
                                        <th align="middle">Opt-Out</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>JavaScript/Sesión</td>

                    <td>Técnica</td>

                    <td>Temporal</td>

                    <td>Propia</td>

                    <td>Garantizar el correcto funcionamiento del sitio, detectando si el usuario que ha accedido tiene habilitada la posibilidad de utilizar JavaScript (lenguaje de programación interpretado que, entre otras cosas, permite una mejora en la experiencia de usuario de este Sitio), o de mantener la sesión en el gestor de contenidos.</td>

                    <td>Neutro, por lo que no utiliza cookies</td>
                </tr>
                <tr>
                    <td>Google Analytics I</td>

                    <td>Analítica</td>

                    <td>Permanente</td>

                    <td>Ajena</td>

                    <td>Generar un identificador de usuario único, que es el que se utiliza para hacer recuento de cuántas veces visita el sitio un usuario, así como la fecha de la primera y la última vez que visitó la web.</td>

                    <td>Neutro</td>
                </tr>
                <tr>

                    <td>Google Analytics II</td>

                    <td>Analítica</td>

                    <td>Temporal</td>

                    <td>Ajena</td>

                    <td>Registrar la fecha y hora de acceso a cualquiera de las páginas del Sitio.</td>

                    <td>Neutro</td>
                </tr>
                <tr>
                    <td>Google Analytics III</td>

                    <td>Analítica</td>

                    <td>Temporal</td>

                    <td>Ajena</td>

                    <td>Comprobar la necesidad de mantener la sesión de un usuario abierta o crear una nueva.</td>

                    <td>Neutro</td>
                </tr>
                <tr>

                    <td>Google Analytics IV</td>

                    <td>Analítica</td>

                    <td>Temporal</td>

                    <td>Ajena</td>

                    <td>Identificar la sesión del usuario, para recoger la ubicación geográfica aproximada del ordenador que accede al Sitio con efectos estadísticos.</td>

                    <td>Neutro</td>
                </tr>
                <tr>
                    <td>Sociales (Facebook, YouTube, Twitter, LinkedIn, etc.).</td>

                    <td>Sociales</td>

                    <td >Depende de cada red social.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>