@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'Antipasto';
	src: url('../fonts/Antipasto.eot');
	src: local('☺'), url('../fonts/Antipasto.woff') format('woff'), 
        url('../fonts/Antipasto.ttf') format('truetype'), 
        url('../fonts/Antipasto.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



