<div class="flexslider">
    <ul class="slides">

        <li style="background-image:url(img/5f468e98.jpg); background-position: center; background-size:cover;">
            <div class=" textosCenter flex-caption">
                <h1 class="t1">Servicio</h1>
                <p class="t2">Soluciones dinámicas de rápida implementación con uso por demanda y sin requerir infraestructura
                </p>
            </div>
            <a href="solutions.php#sol1" target="_parent">
                <div class=" botonSlide">+ info</div>
            </a>

        </li>
        <li style="background-image:url(img/photo-1421091242698-34f6ad7fc088.jpg); background-position: center; background-size:cover;">
            <div class=" textosCenter flex-caption ">
                <h1 class="t1">Compromiso</h1>
                <p class="t2">Soluciones dinámicas de rápida implementación con uso por demanda y sin requerir infraestructura</p>
            </div>
            <a href="solutions.php#sol2" target="_parent">
                <div class=" botonSlide">+ info</div>
            </a>

        </li>
        <li style="background-image:url(img/tumblr_na068gQQJr1tubinno1_1280.jpg); background-position: center; background-size:cover;">
            <div class=" textosCenter flex-caption">
                <h1 class="t1">Responsabilidad</h1>
                <p class="t2">Soluciones dinámicas de rápida implementación con uso por demanda y sin requerir infraestructura</p>
            </div>
            <a href="solutions.php#sol3" target="_parent">
                <div class=" botonSlide">+ info</div>
            </a>

        </li>
        <li style="background-image:url(img/3568961_orig.jpg); background-position: center; background-size:cover;">
            <div class=" textosCenter flex-caption">
                <h1 class="t1">Calidad</h1>
                <p class="t2">Soluciones dinámicas de rápida implementación con uso por demanda y sin requerir infraestructura
                </p>
            </div>
            <a href="solutions.php#sol4" target="_parent">
                <div class=" botonSlide">+ info</div>
            </a>

        </li>

    </ul>
</div>
<!-- funcion para conectar el FlexSlider -->
<script type="text/javascript">
    $(window).load(function() {
        $('.flexslider').flexslider();
    });
</script>