<!-- Error Section -->
<div class="container">
    <div class="section-padding" style="height: 80vh; padding: 180px 0px 20px 0px">
        <div class="row">
            <h3 class="text-center">Oops, La página no puede ser encontrada o no existe!</h3>
            <p class="text-center">La página que esta buscando no esta disponible temporalmente o no existe.</p>
            <br><br>
            <img src="assets/img/404.png" alt="404" style="display: block; width: 100%;" />
        </div>
    </div>
</div>
<!-- Error Section /- -->