<div class="clear" id="n"></div>

<!--Quienes somos-->
<section class="bannerinterno main" style="background-image:url(assets/img/textura2.png), url(assets/img/people-woman-coffee-meeting.jpg); background-size:auto, cover;  background-position:bottom right, center;">
    <div class="textosCenter1 ">
        <div class="container">

            <h1 class="t1  text-center" style="color:var(--amarillo);">Nosotros</h1>
            <h4 class="t2  text-center" style="text-align:center; color:#fff;">Le apoyamos a construir una sólida base tecnológica </h4>
            <p class="t2  text-center" style="color:#fff; text-align:center;">para alcanzar el máximo desempeño de sus sistemas SAP.</p>

        </div>
    </div>
</section>
<div class="clear"></div>
<section class="container contenidoabout">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <h3>Sobre Aextum</h3>
        <p><b>Aextum</b> presta servicios de consultoría en tecnología de información para sistemas de gestión empresarial (ERP), específicamente sistemas SAP. <br>
            <br>
            <b>Aextum</b> provee servicios de administración, mantenimiento, optimización y mejora continua de sistemas SAP. </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <h3>Sobre nuestros consultores</h3>
        <p>Los consultores aliados de Aextum tienen una experiencia comprobada de 20 años en administración de sistemas SAP, asesoría en proyectos de implantación, soporte y mantenimiento. Fomentamos el trabajo en equipo bajo un ambiente de responsabilidad
            y ética, e incentivamos el desarrollo de habilidades interpersonales y de comunicación. <br><br> Converse con nosotros de tecnología SAP.
        </p>

    </div>
</section>
<div class="clear"></div>
<hr>

<section class="container contenidoabout bio">

    <h1 class="text-center">Bio</h1>

    <div class="col-xs-12 col-sm-4 col-md-4 ">
        <img src="assets/img/luis.jpg" alt="Luis Zeron aextum.com">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
        <h2>Luis Alberto Zerón</h2>
        <h3>CEO</h3>
        <p>Luis Alberto Zerón es socio Director y fundador de <b>Aextum</b>. Tiene una extensa experiencia ayudando a empresas, de diferentes sectores, a mantener y operar eficientemente SAP. Ingeniero en Computación y Master en Alta Gerencia y Coaching,
            ha participado como consultor SAP en diversos proyectos de implantación y continuidad operativa. Vive en Ciudad de Panamá, disfruta correr, nadar, la música y el arte en general.</p>
        <p><a href="https://www.linkedin.com/in/luiszeron/" target="_blank">ver bio en linkedin</a></p>
    </div>
</section>
<div class="clear"></div>

<section class="contenidoabout1">
    <div class="container">

        <h3 class="text-center" style="color:#fff !important;">Somos especialistas en SAP Basis NetWeaver, por lo que ponemos a la orden de nuestros clientes todo nuestro conocimiento y mejores prácticas en la gestión de su <i>landscape</i>.</h3>

    </div>
</section>
<section class="container misio" style="text-align: center;" id="mis">
    <h1 style="text-align: center; color:var(--amarillo);"> Misión </h1>
    <p class="col-xs-12 col-md-offset-3 col-md-6 ">Promover y facilitar la adopción de sistemas de información empresarial en las empresas de nuestros clientes, permitiéndoles agilizar sus procesos de negocio manteniendo sus presupuestos de tecnologías de información bajo control.</p>

</section>
<section class="viss pagina parallax" data-movimiento="10" id="vis">
    <div class="moduloanuncio col-xs-10 col-xs-offset-1 col-sm-8 col-sm-push-1  col-md-8 col-md-push-1  marco1">
        <h1 style="color:var(--amarillo);">Visión</h1>
        <p>Consolidarnos como líderes en el sector de tecnologías de información ofreciendo los mejores servicios, que nos permita ser reconocidos como el perfecto aliado de negocios para la implementación de soluciones tecnológicas efectivas manteniendo
            un crecimiento financiero sostenido.</p>
    </div>
</section>


<!---Valores--->

<section class="city2 blur">
    <div class="container">

        <h1 class="text-center">Valoramos</h1>

        <div class="moduloSoluc col-xs-12 col-md-6 left">

            <h3 class="text-center" style="color:var(--amarillo);">La Honestidad</h3>

            <p>Nos comportamos en nuestras actividades comerciales y de consultoría bajo principios de integridad, decencia, justicia, racionalidad y honradez. Guardamos concordancia entre lo que pensamos, decimos y hacemos.</p>
        </div>
        <div class="moduloSoluc col-xs-12 col-md-6 right">

            <h3 class="text-center" style="color:var(--amarillo);">La Veracidad</h3>

            <p>En todo momento nuestras acciones y palabras están encauzadas en alcanzar la verdad o acercarnos a ella.</p>

        </div>
        <div class="moduloSoluc col-xs-12 col-md-6 left">

            <h3 class="text-center" style="color:var(--amarillo);">La Calidad</h3>

            <p>Nuestros servicios están respaldados por estándares de profesionalismo, experiencia de nuestros consultores y conocimiento que agrega valor a nuestros clientes.</p>

        </div>
        <div class="moduloSoluc col-xs-12 col-md-6 right">

            <h3 class="text-center" style="color:var(--amarillo);">El Respeto</h3>

            <p>El activo más importante son las personas, y por esto fomentamos la acción creadora e innovadora en el desarrollo de servicios en un ambiente laboral de tolerancia.</p>

        </div>
    </div>
</section>
<app-masinfo></app-masinfo>
<app-registros></app-registros>