<section class="newsletter ">
    <div class="container">
        <div class=" col-xs-12 col-sm-6 col-sm-push-3 col-md-6 col-md-push-3 " [hidden]="submitted">

            <h3 class="text-center">Subscribete a nuestro Newsletter y permanece actualizado.</h3>


            <form (ngSubmit)="onSubmit()" #newsletterForm="ngForm">
                <div class="input-group ">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" name="email" id="email" [(ngModel)]="model.email" class="form-control" placeholder="E-Mail" email #email="ngModel" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                        <div *ngIf="email?.errors.required">
                            Email es requerido.
                        </div>
                    </div>
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" name="nombre" id="nombre" [(ngModel)]="model.nombre" #nombre="ngModel" class="form-control" placeholder="Nombre y Apellido" required>
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error">
                        <div *ngIf="nombre?.errors.required">
                            Nombre es requerido.
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
                <button [disabled]="!newsletterForm.form.valid" class="boton botonCont"> Suscribirme!</button>


            </form>
        </div>
        <div class="clear"></div>
        <div [hidden]="!submitted" class="contact-message">
            <div *ngIf="model.id" class="contact-success text-center">
                <h3 class="success "> Enviado!</h3>
                <h4> Gracias por Subscrbirte!.</h4>
                <br />
                <button (click)="gotoHome()" class="btn btn-info"> regresar al inicio</button>
            </div>
        </div>
    </div>

</section>