@charset "UTF-8";

/* CSS Document */


/*Author: Malcolm cordova @malcolmcordova mercadocreativo@gmail.com www.malcolmcordova.com*/


/*
Back to top button
*/

#back-top {
    position: fixed;
    bottom: 55px;
    float: right;
    right: 2%;
    z-index: 9999999;
}

#back-top a {
    width: 45px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* background color transition */
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

#back-top a:hover {
    color: #000;
}


/* arrow icon (span tag) */

#back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    background-size: 50%;
    border: 27px solid;
    border-image-source: url(../img/logosolo.png);
    border-image-slice: 27;
    /* background color transition */
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.5;
}

#back-top a:hover span {
    opacity: 1;
}

#back-top span i {
    font-size: 25px;
    position: relative;
    color: var(--amarillo);
    bottom: 15px;
    right: 15px;
}

@media only screen and (max-device-width: 600px) {
    #back-top {
        right: 0%;
    }
}