@charset "UTF-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#active {
    color: var(--amarillo);
}

body {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    z-index: 0;
}

.menu_bar {
    display: none;
}

header {
    width: 100%;
}

.logotop {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 196px;
    height: 41px;
    color: #333;
    margin-top: 10px;
    text-decoration: none;
    position: fixed;
    z-index: 9999999;
    left: 18%;
}

header nav {
    border-top: 2px solid var(--amarillo);
    background: var(--azul);
    ;
    z-index: 999999;
    margin: 0px auto;
    height: 70px;
    position: fixed;
    width: 100%;
    letter-spacing: 1px;
}

header nav ul {
    list-style: none;
    float: right;
}

header nav ul li {
    display: inline-block;
    position: relative;
    margin-top: 5px;
}

header nav ul li a i {
    font-size: 40px;
    color: #fff;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

header nav ul li a i:hover {
    color: var(--amarillo);
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

header nav ul li a {
    font-family: 'Antipasto';
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

header nav ul li a:hover {
    color: var(--amarillo);
    text-decoration: none;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

header nav ul li .children {
    display: none;
    font-family: 'Antipasto';
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    background: var(--azul);
    ;
    position: absolute;
    z-index: 999999;
    padding: 10px;
    margin-left: -40px;
}

header nav ul li .children li {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

header nav ul li .children li a {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}

header nav ul li .children li a i {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
}

header nav ul li:hover .children {
    display: block;
}

header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width:420px) {
    .menu_bar {
        display: block;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        border-top: 2px solid var(--amarillo);
        background: var(--azul);
        ;
        font-size: 30px;
        z-index: 9999;
    }
    
    .menu_bar .bt-menu {
        display: block;
        padding: 0px;
        color: rgba(250, 250, 250, 0.5);
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .menu_bar i {
        float: left;
        font-size: 30px;
        color: var(--amarillo);
        padding: 10px
    }
    
    header nav {
        width: 80%;
        height: calc( 100% - 50px);
        -o-height: calc( 100% - 50px);
        -moz-height: calc( 100% - 50px);
        -webkit-height: calc( 100% - 50px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
        margin-top: 20px;
        border-top: 2px solid var(--amarillo);
        background: var(--azul);
        ;
        margin-bottom: 15px;
    }
    
    header nav ul {
        list-style: none;
        width: 100%;
        margin: 0 auto;
    }
    
    header nav ul li {
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid #333;
    }
    
    header nav ul li:hover.children {
        display: none;
    }
    
    header nav ul li a {
        display: block;
    }
    
    header nav ul li .children {
        width: 100%;
        position: relative;
    }
    
    header nav ul li .children li a {
        margin-left: 20px;
        text-align: left
    }
    
    header nav ul li .caret {
        float: right;
    }
    
    header nav ul li a i {
        font-size: 70px;
        padding-left: 50px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width:1024px) {
    .menu_bar {
        display: block;
        width: 100%;
        height: 70px;
        position: fixed;
        top: 30px;
        border-top: 2px solid var(--amarillo);
        background: var(--azul);
        ;
        font-size: 30px;
        z-index: 9999;
    }
    
    .menu_bar .bt-menu {
        display: block;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .menu_bar i {
        float: left;
        font-size: 30px;
        color: #fff;
        padding: 10px
    }
    
    header nav {
        width: 80%;
        height: calc( 100% - 50px);
        -o-height: calc( 100% - 50px);
        -moz-height: calc( 100% - 50px);
        -webkit-height: calc( 100% - 50px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
        margin-top: 70px;
        border-top: 2px solid var(--amarillo);
        background: var(--azul);
        ;
    }
    
    header nav ul {
        list-style: none;
        width: 100%;
        margin: 0 auto;
    }
    
    header nav ul li {
        display: block;
        padding-bottom: 10px;
        padding: 10px;
        border-bottom: 1px solid #fff;
    }
    
    header nav ul li:hover.children {
        display: none;
    }
    
    header nav ul li a {
        display: block;
        border-right: none;
    }
    
    header nav ul li .children {
        width: 100%;
        position: relative;
    }
    
    header nav ul li .children li a {
        margin-left: 20px;
        text-align: left
    }
    
    header nav ul li .caret {
        float: right;
    }
}