<div class="clear" id="as"></div>
<section class="bannerinterno2 main aparece admSist">
    <div class=" textosCenter2">
        <h1 class="t1" style="color:var(--amarillo);">Administración de Sistemas</h1>
        <p class="t2">Aextum posee el conocimiento y mejores prácticas para el manejo de su ecosistema de productos SAP, desde la implantación técnica de aplicaciones pertenecientes a SAP Business Suite hasta la operación diaria y mantenimiento.</p>
    </div>
    <a href="#uno" class="ancla">
        <div class=" circle"><i class="fa fa-angle-down"></i></div>
    </a>
</section>
<div class="clear"></div>
<section class="gest flex" id="uno">
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6">
            <h2 style="color:var(--amarillo);">Una gestión de sistemas SAP continua y consistente le brinda los siguientes beneficios:</h2>
        </div>
        <div class=" contTt contTt1 bullet marco1 col-xs-12 col-md-6">
            <ul>
                <li>Aumento en la satisfacción de los usuarios.</li>
                <li>Disminución de los tiempos de preparación de actualizaciones de versiones o migraciones.</li>
                <li>Mejor adaptabilidad a los cambios tecnológicos durante el ciclo de vida de los sistemas.</li>
                <li>Mejora sustancial en el ROI de su empresa.</li>

            </ul>
        </div>

    </div>
</section>
<hr>
<section class="respRec bullet degradegris1 up flex">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-1">
            <h2 style="color:var(--amarillo);">Instalación</h2>
            <p>Cada instalación de un producto SAP es diferente. A lo largo de dos décadas hemos ganado una experiencia sólida y conocimientos que nos permiten instalar instancias SAP en el menor tiempo posible y con los recursos necesarios sin impactar
                su presupuesto. Nuestro enfoque de instalación de productos SAP comprende una serie de actividades enfocadas a alcanzar la revisión de: </p>
            <ul>
                <li>Licenciamiento.</li>
                <li>Hardware propuesto.</li>
                <li>Estatus de seguridad.</li>
                <li>Prerrequisitos de software.</li>
                <li>Requisitos de integración.</li>

            </ul>
        </div>
        <div class="col-xs-8 col-xs-push-2 col-sm-5 col-sm-inset-1 col-md-4">
            <img src="assets/img/InstallerIconX.png">
        </div>
    </div>
</section>
<hr>
<section class="oper pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt bullet marco1 col-xs-12 col-sm-10 col-sm-push-1 col-md-6 ">
            <h2 style="color:var(--amarillo);">Operaciones</h2>
            <p> Las soluciones SAP crecen y evolucionan. Los requerimientos de los usuarios de tecnología no cesan. Usted necesita el apoyo técnico capacitado SAP NetWeaver para afrontar diariamente la operación de sus sistemas y detectar problemas y oportunidades
                de mejora. Sin importar si usted tiene la última versión de un producto SAP o una versión inferior, nuestros colaboradores brindarán su ingenio, experiencia y conocimiento. Piense:</p>
            <ul>
                <li>¿Cuál es el estado actual de sus instancias SAP?</li>
                <li>¿Cuál es el alcance de la operación SAP requerida?</li>
                <li>¿Cuáles son las actividades necesarias para operar de forma eficiente sus instancias SAP?</li>
            </ul>
        </div>
    </div>
</section>
<hr>
<section class="respRec degradegris flex">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-1">
            <h2 style="color:var(--amarillo);">Mantenimiento</h2>
            <p>Adopte las innovaciones en tecnología que le permitan obtener el máximo beneficio a su landscape SAP. Bien sea un <i>support package stack</i>, un enhancement <i>package, addons</i> para activar nuevas funcionalidades, o una migración a otra
                plataforma: Aextum es la elección segura.</p>
        </div>
        <div class="col-xs-8 col-xs-push-2 col-sm-5 col-sm-inset-3  col-md-4">
            <img src="assets/img/update1.png">
        </div>

    </div>
</section>
<app-masinfo></app-masinfo>
<app-registros></app-registros>