<div class="clear" id="up"></div>
<section class="bannerinterno2 main aparece upgrad">
    <div class=" textosCenter2">
        <h1 class="t1" style="color:var(--amarillo);">Upgrade</h1>
        <p class="t2"> Contamos con más de 10000 horas ejecutando <i>upgrades</i> a diferentes versiones de SAP. </p>
    </div>
    <a href="#Uno" class="ancla">
        <div class=" circle "><i class="fa fa-angle-down"></i></div>
    </a>
</section>

<div class="clear"></div>

<section class="planec pagina parallax flex" data-movimiento="10" id="Uno">
    <div class="container">
        <div class=" contTt bullet marco1 col-xs-12 col-md-6 col-md-push-3">
            <h1 style="color:var(--amarillo);">Planeación</h1>
            <p>Una planeación minuciosa es requisito fundamental para un <i>upgrade</i> exitoso. <b>Aextum</b> creará un plan ajustado a su situación actual de IT, ayudándolo a reducir costos y respondiendo las siguientes preguntas:</p>
            <ul>
                <li>¿Cuál es el alcance y estrategia del upgrade a seguir?</li>
                <li>¿Qué componentes de software o hardware pueden afectar la duración del proyecto?</li>
                <li>¿Cuál es el alcance de instalación de <i>Enhancement Packages (EHP)</i>?</li>
                <li>¿Cuáles son los riesgos inherentes al upgrade y cómo puedo enfrentarlos?</li>
                <li>¿Existen necesidades de entrenamiento técnico para su personal en la nueva versión?</li>

            </ul>
        </div>

    </div>
</section>
<hr>
<section class="gest2 pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt bullet marco1 col-xs-12 col-sm-10 col-sm-push-1 col-md-10 col-md-push-1 ">
            <h2 class="text-center" style="color:var(--amarillo);">Gestión</h2>
            <ul>
                <li>Ensamble del staff de consultores.</li>
                <li>Coordinación de recursos y habilitar canales de comunicación continua entre los consultores, el cliente, usuarios y terceras partes involucradas.</li>
                <li>Reforzamiento de las mejores prácticas de ejecución del upgrade.</li>
                <li>Control y seguimiento al plan de upgrade.</li>
            </ul>

        </div>
    </div>
</section>
<hr>
<section class="ejecu pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt bullet marco1 col-xs-12 col-sm-10 col-sm-push-1 col-md-6 ">
            <h2 style="color:var(--amarillo);">Ejecución</h2>
            <p>Apoyamos la eficiencia y el uso óptimo de recursos, por lo que firmemente recomendamos la estrategia Downtime-Minimized. <b>Aextum</b> incluye en su planificación ciclos de ejecución de upgrade en sus sistemas pre-productivos, permitiendo
                refinar actividades, eliminar pasos innecesarios y disminuir los tiempos de ejecución. <br><br> Un enfoque proactivo y nuestra amplia experiencia ejecutando upgrades en diferentes sistemas operativos y bases de datos brinda a nuestros
                clientes la tranquilidad de contar con consultores con capacidad de análisis y resolución de problemas. No se conforme con consultores que únicamente siguen el manual. Si existe una mejor alternativa se la propondremos. </p>

        </div>
    </div>
</section>
<section class="adc pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt bullet marco1 col-xs-12 col-sm-10 col-sm-push-1 col-md-6 col-md-push-6 ">
            <h2 style="color:var(--amarillo);">Adecuación post upgrade</h2>
            <p>Aseguramos la correcta ejecución de las tareas de entonación y configuración de sus instancias SAP en su nueva versión. Entregamos sus instancias SAP, con el desempeño adecuado según sus estándares de TI e integradas a su infraestructura tecnológica.
            </p>

        </div>
    </div>
</section>
<app-masinfo></app-masinfo>
<app-registros></app-registros>