<div class="clear"></div>

<section class="bannerinterno main" id="cont">
    <div class="textosCenter1 ">
        <div class="container">
            <h1 class="t1 text-center" style="color:var(--amarillo)">Site Map</h1>
        </div>
    </div>

</section>

<section class="sitemap flex">
    <div class="container">
        <ul class="col-xs-12 col-sm-6">
            <li><a [href]="['/']">Inicio</a></li>
            <li><a [href]="['/nosotros']">Nosotros</a></li>
            <ul>
                <li><a href="nosotros#mis">Misión</a></li>
                <li><a href="nosotros#vis">Visión</a></li>
            </ul>
            <li><a [href]="['/servicios']">Servicios</a></li>
            <ul>
                <li><a [href]="['/servicios/consultoria-sap-basis']">Consultoría SAP Basis</a></li>
                <li><a [href]="['/servicios/administracion-de-sistemas']">Administracíon de Sistemas</a></li>
                <li><a [href]="['/servicios/upgrade']">Upgrade</a></li>
                <li><a [href]="['/servicios/sap-hana']">Sap Hana</a></li>
            </ul>
            <li><a [href]="['/contacto']">Contacto</a></li>
        </ul>
    </div>
</section>