<div class="clear"></div>

<section class="bannerinterno main" id="cont">
    <div class="textosCenter1 ">
        <div class="container">
            <h1 class="t1 text-center" style="color:var(--amarillo)">Site Map</h1>
        </div>
    </div>

</section>

<section class="sitemap flex">
    <div class="container">
        <ul class="col-xs-12 col-sm-6">
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="nosotros">Nosotros</a></li>
            <ul>
                <li><a routerLink="nosotros#mis">Misión</a></li>
                <li><a routerLink="nosotros#vis">Visión</a></li>
            </ul>
            <li><a routerLink="servicios">Servicios</a></li>
            <ul>
                <li><a routerLink="../servicios/consultoria-sap-basis">Consultoría SAP Basis</a></li>
                <li><a routerLink="../servicios/administracion-de-sistemas">Administracíon de Sistemas</a></li>
                <li><a routerLink="../servicios/upgrade">Upgrade</a></li>
                <li><a routerLink="../servicios/sap-hana">Sap Hana</a></li>
            </ul>
            <li><a routerLink="contacto">Contacto</a></li>
        </ul>
    </div>
</section>