<div class="clear" id="h">
</div>

<a href="#hom" class="ancla">
    <div class="mouseicon hidden-xs"></div>
</a>

<div class="clear"></div>

<section class="bannerinterno3 main  banhome">
    <div class=" textosCenter3 col-xs-12 col-sm-8 col-sm-push-2 col-md-8 col-md-push-2">
        <h2 class="t1 text-center">Administración efectiva de sistemas SAP</h2>
        <h4 class="t2 text-center" style="color:#fff;">Con nosotros es más fácil.</h4>
    </div>
</section>

<div class="clear"></div>

<!---Bienvenido--->
<section class="noshome" id="hom">
    <div class="container">
        <h1 style="text-align:center">Todo nuestro conocimiento y mejores prácticas en la gestión de sistemas.</h1>
        <p style="text-align:center">Contamos con una metodología efectiva para optimos resultados</p><br><br><br><br>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <img src="assets/img/aextumway.png">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-6 col-md-6 flex">
                <h4>Analizamos</h4>
                <p>la situación actual de su landscape SAP y encontramos sus puntos de mejora, antes que se conviertan en un problema.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 flex">
                <h4>Diseñamos</h4>
                <p>la estrategia de implementación técnica de mejoras.</p>
            </div>
            <div class="clear"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 flex">
                <h4>Implementamos</h4>
                <p>lo que planificamos con los consultores adecuados obteniendo resultados satisfactorios.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 flex">
                <h4>Mantenemos</h4>
                <p>sus sistemas SAP al día con las últimas actualizaciones. Disminuimos el riesgo de adopción de cambios mayores como <i>upgrades</i>.</p>
            </div>
        </div>

        <div class="clear"></div>
        <a [routerLink]="['/nosotros']" fragment="n">
            <div class="boton col-xs-12 col-sm-4 col-sm-push-4 col-md-4 col-md-push-4">Nosotros</div>
        </a>
    </div>
</section>


<div class="clear"></div>

<app-banner></app-banner>

<div class="clear"></div>

<a [routerLink]="['/servicios']" fragment="s">
    <div class="boton col-xs-12 col-sm-8 col-sm-push-2 col-sm-push-4 col-md-4 col-md-push-4 up"> Ver todos los Servicios</div>
</a>


<div class="clear"></div>
<app-masinfo></app-masinfo>
<app-registros></app-registros>