<div class="clear" id="cs"></div>
<section class="bannerinterno2 main aparece">
    <div class=" textosCenter2">
        <h1 class="t1" style="color:var(--amarillo);">Consultoría SAP Basis</h1>
        <p class="t2">El conocimiento es poder. Y algo que conocemos muy bien es consultoría SAP. A lo largo de los años, hemos construido una base de conocimiento extensa, relaciones duraderas con nuestros clientes y servicios orientados a sus necesidades.</p>
    </div>
    <a href="#uno" class="ancla">
        <div class=" circle "><i class="fa fa-angle-down"></i></div>
    </a>
</section>
<div class="clear"></div>

<section class="city" id="uno">
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-8 col-md-push-2" style="padding-top:80px;">

            <h1 class="text-center" style="color:#fff;">Implantación Técnica</h1>
            <p class="text-center" style="color:#fff; text-align:center"><b>Aextum</b> suministra la asesoría técnica y gerencial para cada fase de su proyecto de implantación. Desde la planificación y diseño, hasta la salida en vivo y el soporte.</p>

        </div>
    </div>
</section>
<hr>
<div class="clear"></div>
<section class="Desempe flex pagina parallax" data-movimiento="10">
    <div class="container">
        <div class="contTt bullet marco1 col-xs-12 col-sm-10 col-sm-push-1 col-md-6 col-md-push-3 up">
            <h2 style="color:var(--amarillo);">Optimización</h2>
            <p><b>Aextum</b> está en capacidad de proveerle un marco estándar para el análisis y entonación de landscape SAP, el cual consiste en los siguientes 4 pasos:</p>
            <ul>
                <li>Monitorear el desempeño de su landscape e identificar problemas asociados.</li>
                <li>Analizar detalladamente los problemas identificados y crear una lista de acciones correctivas.</li>
                <li>Poner en marcha dichas acciones correctivas.</li>
                <li>Verificar los resultados.</li>

            </ul>
        </div>
    </div>
</section>
<hr>
<div class="clear"></div>
<section class="auditoria flex pagina parallax" data-movimiento="10">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6" style="float:left; clear:left; "></div>
        <div class="contTt col-xs-12 col-sm-6 col-md-6 ">
            <h2 style="color:var(--amarillo);">Auditoria, seguridad y autorizaciones</h2>
            <p>Le ayudamos a aprovechar los mecanismos disponibles en el sistema operativo, base de datos y aplicación SAP, para brindarle la seguridad necesaria a su <i>landscape</i> de sistemas. La consultoría de <b>Aextum</b> es apropiada a sus requerimientos
                de auditoria y seguridad garantizando:</p>
            <ul>
                <li>Acceso de usuarios al sistema.</li>
                <li>Integridad de los datos.</li>
                <li>Autorizaciones a los usuarios.</li>

            </ul>
        </div>
    </div>
</section>
<hr>
<div class="clear"></div>
<section class="evluacion pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt col-xs-12  ">

            <h2 class="text-center" style="color:var(--amarillo);">Evaluación inicial</h2>

            <p>Con el fin de conocer la situación actual de su landscape SAP a nivel de aplicación, bases de datos y sistema operativo, Aextum recolecta información pertinente a indicadores de desempeño de sus sistemas SAP y genera un plan de adecuación
                con recomendaciones y acciones concretas que incrementan dramáticamente el tiempo de respuesta de sus sistemas SAP. <br><br> Sus sistemas siempre estarán listos… y usted también. </p>
        </div>
    </div>
</section>
<hr>
<div class="clear"></div>
<section class="archDatos pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt col-xs-12  col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">

            <h1 class="text-center" style="color:var(--amarillo);">Archivado</h1>

            <p>Lo ayudamos a cumplir con las regulaciones legales de retención de datos, mejorar el desempeño de sus sistemas, controlar el crecimiento de sus bases de datos, y disminuir el tiempo del sistema fuera de servicio mediante el archivado de datos.
                <b>Aextum</b> cuenta con consultores expertos en configuración y administración de archivado de datos en SAP. </p>
        </div>
    </div>
</section>
<hr>
<div class="clear"></div>
<section class="servDipo degradegris pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="col-xs-12 col-md-8 col-md-push-2">
            <h2 style="color:var(--amarillo);">Alta Disponibilidad</h2>
            <p>Lo asesoramos en la adopción de mecanismos de alta disponibilidad para su <i>landscape</i> de SAP, la reducción de la complejidad a su gestión de IT y en el control de las interrupciones planificadas o no planificadas de sus sistemas. <b>Aextum</b>                instala sistemas SAP en modo alta disponibilidad 100% compatibles con soluciones <i>HA partners,</i> certificados tales como <i>HP ServiceGuard, RHEL 6, Symantec veritas clúster server, etc.</i></p>

        </div>
        <div class="col-xs-12 col-md-8 col-md-push-2 ">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img src="assets/img/img_serviceguard.gif">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img src="assets/img/redhat.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img src="assets/img/opensuse.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img src="assets/img/simantec.jpg">
            </div>
        </div>
    </div>
</section>
<hr>
<div class="clear"></div>
<section class="respRec2 pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt col-xs-12 col-sm-6 col-md-5 col-md-push-2">
            <h2 style="color:var(--amarillo);">Respaldo y Recuperación</h2>
            <p>¿Posee estrategia de respaldo y recuperación de sus sistemas SAP? ¿Conoce los mecanismos que SAP ofrece para mantener sus datos respaldados de forma consistente? ¿Cuenta con personal entrenado en el desempeño de actividades de ejecución de
                respaldo, monitoreo y recuperación de sus datos en SAP? Los consultores de <b>Aextum</b>, junto al proveedor de su preferencia, diseñarán y pondrán en marcha la mejor estrategia de salvaguarda de sus datos.</p>
        </div>

    </div>
</section>
<div class="clear"></div>
<section class="migr2 pagina parallax flex" data-movimiento="10">
    <div class="container">

        <div class="contTt  col-xs-12 ">
            <h2 style="color:var(--amarillo);">Migración</h2>
            <p>Con <b>Aextum</b> usted modernizará su <i>landscape</i> SAP evitando interrupciones por errores durante migraciones homogéneas o heterogéneas. Bajo la gestión de proyectos de migración, garantizamos que cada migración contará con el recurso
                humano experto y las tareas necesarias, disminuyendo tiempo y costos. </p>
        </div>

    </div>
</section>
<app-masinfo></app-masinfo>
<app-registros></app-registros>