<div class="clear" id="sh"></div>
<section class="bannerinterno2 main aparece saphana">
    <div class=" textosCenter2">
        <h1 class="t1" style="color:var(--amarillo);">SAP HANA</h1>
        <p class="t2">Es tiempo de ir más rápido: ¿Qué le parece llegar primero que los demás?<br><br> Implantando SAP HANA bajo la opción OnPremise o migrando a SAP Business Suite poweredby SAP HANA, <b>Aextum</b> tiene los servicios de consultoría que lo guiarán
            en el camino a una adopción exitosa de SAP HANA como su plataforma <i>in memory</i>. <br><br> Descubra. Monitoree. Analice. Planifique.</p>
    </div>
    <a href="#Uno" class="ancla">
        <div class=" circle "><i class="fa fa-angle-down"></i></div>
    </a>
</section>
<div class="clear"></div>
<section class="SApAdmin pagina parallax" data-movimiento="10" id="Uno">
    <div class="container">
        <div class=" contTt bullet marco1 col-xs-12 col-md-6 col-md-push-3">
            <h2 style="color:var(--amarillo);">Administración</h2>
            <p><b>Aextum</b> le ayuda a tomar ventaja de las bondades que las herramientas de administración de SAP HANA le ofrecen. Tenemos más de 50.000 horas de administración de sistemas SAP, lo que nos convierte en el aliado perfecto para acompañarlo
                en el camino. Desde asesorarlo en la edición de SAP HANA apropiada a sus necesidades, planificar e instalar su <i>landscape</i> de sistemas SAP HANA (SAP Business Suite powered by SAP HANA o SAP S/4 HANA), a brindar el soporte a las operaciones
                durante la implementación, <i>go-live y post go-live</i>; lo ayudamos a reducir costos y minimizar interrupciones.</p>
        </div>

    </div>
</section>
<hr>
<section class="SApmonito pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt marco1 col-xs-12 col-sm-8 col-sm-push-4 col-md-5 col-md-push-1">
            <h2 style="color:var(--amarillo);">Optimización</h2>
            <p>Usted tiene las herramientas estándar para monitorizar SAP HANA. Recolectamos y analizamos continuamente los indicadores de desempeño con la finalidad de determinar tendencias de utilización de recursos, garantizar el uso eficiente de los
                mismos y aumentando la productividad de sus usuarios.</p>
        </div>

    </div>
</section>
<hr>
<section class="sapAct pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt bullet marco1 col-xs-12 col-sm-10 col-sm-push-1 col-md-10 col-md-push-1 ">
            <h2 class="text-center" style="color:var(--amarillo);">Actualización</h2>
            < <p>Uno de los aspectos fundamentales en la gestión de tecnología de información es el estar preparado a adoptar los cambios tecnológicos y las mejoras continuas. Ahora que usted eligió SAP HANA como su plataforma para agilizar su negocio y ser
                competitivo en esta era digital, <b>Aextum</b> lo ayudara a diseñar y poner en marcha su estrategia de actualización de SAP HANA, solida, continua y duradera.</p>
        </div>
    </div>
</section>
<hr>
<section class="segurid pagina parallax" data-movimiento="10">
    <div class="container">
        <div class="contTt marco1 col-xs-12 col-sm-8 col-md-6">
            <h2 style="color:var(--amarillo);">Seguridad y Autorizaciones</h2>
            <p>Grandes cantidades de datos son generadas a diario de diversas fuentes -tabletas, teléfonos inteligentes, aplicaciones- que SAP HANA debe procesar en fracciones de segundos. Proveer mecanismos de comunicación y acceso seguro, confiable y controlado
                es una de las fortalezas de SAP HANA. <br><br> Los consultores de <b>Aextum</b>, elegirán y activaran el mecanismo de seguridad y autorización que se adapte a sus necesidades e infraestructura para que pueda obtener las ventajas de trabajar
                con SAP HANA.</p>
        </div>

    </div>
</section>
<section class="respRec pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt marco1 col-xs-12 col-sm-8 col-md-8 col-md-push-3">
            <h2 style="color:var(--amarillo);">Respaldo y Recuperación</h2>
            <p>¿Posee estrategia de respaldo y recuperación de SAP HANA?<br><br> ¿Conoce los mecanismos que SAP HANA ofrece para mantener sus datos respaldados de forma consistente?<br><br> ¿Cuenta con personal entrenado en el desempeño de actividades de
                ejecución de respaldo, monitoreo y recuperación de sus datos en SAP HANA? <br><br> Los consultores de <b>Aextum</b> diseñarán la mejor estrategia de respaldo y recuperación y, en conjunto con su proveedor de software de respaldo, garantizará
                el salvaguardo periódico y la recuperación consistente de su base de datos SAP HANA.</p>
        </div>

    </div>
</section>

<section class="migracionw pagina parallax flex" data-movimiento="10">
    <div class="container">
        <div class="contTt marco1 col-xs-12 ">
            <h2 style="color:var(--amarillo);">Migración</h2>
            <p>Adopte SAP HANA, en su landscape actual como su motor de bases de datos sin necesidad de nuevas instalaciones utilizando el <i>DMO (database migration option).</i> <b>Aextum</b> cuenta con consultores de tecnología expertos y certificados
                en el uso de DMO, quienes bajo una gestión de proyectos, elaborarán el camino apropiado de migración, minimizando riesgos y downtime de sus sistemas SAP.</p>
        </div>

    </div>
</section>
<app-masinfo></app-masinfo>
<app-registros></app-registros>